<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movies</title>
</head>
<body>
<h1>Movie List</h1>

<a th:href="@{/movies/new}">Add New Movie</a>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Duration (min)</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movies}">
        <td th:text="${id}"></td>
        <td th:text="${title}"></td>
        <td th:text="${durationMin}"></td>
        <td>
            <form th:action="@{'/movies/' + ${id} + '/delete'}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>